<od-widget widget-title="odWeb.tv QuickAdd" template="tpl-small-header">
    <od-widget-header></od-widget-header>
    <od-widget-content nospacing>
        <div class="img-connect"></div>
        <div class="text-connect">
            Zur Nutzung dieses Widgets müssen Sie Ihre aktuellen Zugangsdaten mit Ihrer opta data ID verknüpfen, folgen Sie dazu dem unten stehenden Link zum Produkt und melden sich wie gewohnt an.
            Anschließend steht Ihnen das Widget zur Verfügung
        </div>
        <div class="img-arrow-down"></div>
    </od-widget-content>
</od-widget>